exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(RhpcBLASctl, blas_set_num_threads)
importFrom("stats", "rbinom")
# export(versionInfos)
# export(nestedKrigingDirect)
# export(tests_run)
# export(tests_getCodeValues)
# export(tests_getCaseStudy)
# export(setNumThreadsBLAS)
# export(nestedKriging)
useDynLib(nestedKriging, .registration = TRUE)
